.custom-card {
    padding: 25px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: black 0 15px 50px 1px;
    border: solid black 1px;
}

.tag {
    background: #eee;
    border-radius: 25px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
